html
  head
    link(href='/css/styles.css', rel='stylesheet')
  body
    .container
      .text-container
        h1.title Sign up
        h2.sub-title Create an account to access the full version with all the features.

        .item
          img(src="/images/map.png")
          h3.item-title What is your postcode?
          input(placeholder="DL11 2PQ")(required="")

        .item
          img(src="/images/house.png") 
          h3.item-title What is your date of birth?
          input(placeholder="DD/MM/YYYY")(required="")

        .item
          img(src="http://placehold.it/50x50")
          h3.item-title What is your date of birth?
          input(placeholder="DD/MM/YYYY")(required="")

        .item
          img(src="http://placehold.it/50x50")
          h3.item-title What is your date of birth?
          input(placeholder="DD/MM/YYYY")(required="")


        a.btn(href="/next") Next
